body{
  background: #A4CE19;
background: -moz-linear-gradient(-45deg, #A4CE19 0%, #4FA44C 46%, #140F06 100%);
background: -webkit-linear-gradient(-45deg, #A4CE19 0%, #4FA44C 46%, #140F06 100%);
background: linear-gradient(135deg, #A4CE19 0%, #4FA44C 46%, #140F06 100%);
}
h6,p,footer{
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, 2px -31px 2px rgba(206,89,55,0);
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#divImg >p {
  border-color: #23a6d5;
  }
  #divImg{
    -webkit-border-radius: 40px;
-moz-border-radius: 40px;
border-radius: 40px;
  }
.container{
  background: #A4CE19;
  background: -moz-linear-gradient(-45deg, #A4CE19 0%, #4FA44C 46%, #140F06 100%);
  background: -webkit-linear-gradient(-45deg, #A4CE19 0%, #4FA44C 46%, #140F06 100%);
  background: linear-gradient(135deg, #A4CE19 0%, #4FA44C 46%, #140F06 100%);  height: 600px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 600px;
  border: 5px solid #84DE02;
  
}

 #divImg{
   background-color: #23d5ab;
   position:absolute;
   
 }
  #stage {
    -webkit-border-radius: 40px 40px 40px 40px;
-moz-border-radius: 40px 40px 40px 40px;
border-radius: 40px 40px 40px 40px;
    border-style:double;
  }
header, footer { 
   text-align: center;
  }
img{
  width:600px;
  height: fit-content;
  justify-content: center;
  border: 5px solid #84DE02;
  
}
  
  